<div id="dashboard">
  <H1>Bienvenu sur le meilleur site de recette du monde !</H1>

  <div id="introDashboard">
    <p>
      Ici aucune recette n'est décevente, elle ont toute été tester encore et
      encore avant de finir dans le livre de recette familliale ! Si tu as
      trouver ton chemin jusqu'ici il y a deux possibilié :
    </p>

    <ul>
      <li>
        Tu fait partie de la famille et dans ce cas la tu sais déjà tout ça,
        n'attend plus et va chercher la recette qui te fait envie !
      </li>
      <li>
        Tu ne devrait pas être la, tu est chanceux ! profite et jette un oeil
        mais surtout pas un mot aux autre et garde ce que tu verra pour toi !
      </li>
    </ul>
  </div>

  <daily-reicipe></daily-reicipe>
</div>
